<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GIPHY
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar mode="ios" searchIcon="search" placeholder="search for a giphy" [(ngModel)]="searchWord"
                 (ionChange)="searchGIPHY()"></ion-searchbar>

  <div class="empty-state" *ngIf="!giphies.length">
    There is no data to be displayed.
  </div>

  <ion-grid *ngIf="giphies.length > 0">
    <ng-container *ngFor="let giphy of giphies">
      <ion-row>
        <ion-col size="12">
          <app-giphy-card [giphy]="giphy"></app-giphy-card>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>

  <ion-infinite-scroll [disabled]="!giphies.length" threshold="100px" (ionInfinite)="scrollGiphies($event)">
    <ion-infinite-scroll-content loading-spinner="none"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
